---
import { string } from 'astro/zod';
import Layout from '../layouts/Layout.astro';	
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<div class="container">
				<div class="container-Presentacion">
					<img src="/image 1784.png" alt="Hola">
					<div class="container-Saludo">
						<p>¡Hola! 
							<span>me llamo,</span>
						</p>
						<h1>Ferney Nava</h1>
					</div>
				</div>
					<h2 class="container-Profesion">
						<span class="typed"></span>
					</h2>
				<nav>
					<ul  class="menu-Social">
						<li>
							<a href="https://www.linkedin.com/in/ferney-alexander-nava-trujillo-0478a8118/">
								<img src="/LinkedIn.svg" alt="">
									LinkedIn
							</a>
						</li>
						<li>
							<a href="https://github.com/ferneynava">
								<img src="/GitHub.svg" alt="">
									GitHub
							</a>
						</li>
						<li>
							<a href="mailto:ferneynava@gmail.com">
								<img src="/Correo.svg" alt="">
									ferneynava@gmail.com
							</a>
						</li>
				</nav>
			</div>
			<div>
				<div class="container-Foto">
					<img src="FotoFull.png" alt="Foto FerneynavaDev">
				</div>
				
			</div>
			
		<section/>
	</main>
</Layout>

<style>
	section{
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		align-items: center;
	}

	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.container-Presentacion{
		display: flex;
		padding: 1.75rem;
		justify-content: center;
		align-items: center;
		background: rgba(108, 117, 125, 0.55);
		border-radius: 16px;
		border: 2px solid white;
		backdrop-filter: blur(20px);
		flex-wrap: wrap;
	}

	.container-Saludo p{
		font-size: 2.125rem;
		line-height: 2.563rem;
		font-weight: 500;
		color: white;
		margin: 0;
	}

	.container-Saludo span{
		color: #00A6FB;
	}

	.container-Saludo h1{
		color: #00A6FB;
		font-size: 3.125rem;
		font-weight: 900;
		line-height: 4.875rem;
		margin: 0;
	}

	.container-Profesion{
		color: #00A6FB;
		text-align: center;
		font-size: 2.0625rem;
		font-weight: 900;
		line-height: 2.5rem;
	}

	.menu-Social{
		display: flex;
		gap: 1rem;
		list-style: none;
		letter-spacing: 0.05rem;
		padding: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
	} 

	.menu-Social a{
		display: flex;
		padding: 0.5rem 1rem;
		color: white;
		font-size: 1rem;
		line-height: 1.5rem;
		text-decoration: none;
		border-radius:  3.125rem;
		background:  #00A6FB;
		align-items: center;
		gap: 0.4375rem;
	}

	.menu-Social a {
		box-shadow: 0 0 25px rgb(0,140,255);
	}

	.menu-Social a:hover{
		box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
	}

	.container-Foto{
		display: flex;
		justify-content: center;
	}

</style>

<script>
	import Typed from 'typed.js'; 

		const typed = new Typed('.typed',{
			strings: ["Licenciado en electrónica","Desarrollador Front-end"],
			typeSpeed: 80,
			loop: true,
		});

</script>
