<footer>
    <div class="container-footer">
        <a href="/">
            <img src="Logo.svg" alt="logo">
        </a>
        <p>Desarrollado con 💙</p>
        <nav>
                <ul class="MenuFooter">
                    <li class="Menu_Item-Sobremi">
                        <a class="Menu_Item-a"href="#sobre-mi">
                            Sobre mi
                        </a>
                    </li>
                    <li>
                        <a class="Menu-Item_contacto"
                        href="mailto:ferneynava@gmail.com">
                            Contáctame
                        </a>
                    </li>
                </ul>
        </nav>
    </div>
</footer>

<style> 

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-footer p {
    font-weight: 600;
    font-size:inherit;
    color: #fff;
    margin: 0;
}

.MenuFooter {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

li {
    letter-spacing: 0.05rem;
}

.Menu_Item-Sobremi a{
    font-weight: 600;
    font-size: inherit;
    color: #FAFAFA;
    text-decoration: none;
    position: relative;
}

.Menu_Item-Sobremi a:hover{
    color: #00A6FB;
}

.Menu_Item-a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00A6FB;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;    
}

.Menu_Item-a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Menu-Item_contacto{
    display: inline-flex;
    font-weight: 600;
    font-size: inherit;
    background: #00A6FB;
    padding: 0.5rem 2rem;
    color: #FAFAFA;
    text-decoration: none;
    border-radius: 3rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    transition-property: box-shadow;
}

.Menu-Item_contacto{
    box-shadow: 0 0 25px rgb(0,140,255);
}

.Menu-Item_contacto:hover{
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
}

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 17rem;
    }

    .MenuFooter {
        margin-top: 2rem;
        justify-content: center;
    }

    .container-footer img{
        height: 12rem;
        width: 12rem;
    }

    .container-footer p{
        font-size: 1.3rem;
    }

    .Menu_Item-Sobremi a{
        font-weight: 600;
        font-size: 1.3rem;
    }

    .Menu-Item_contacto{
        font-weight: 600;
        font-size: 1.8rem;
        padding: 1rem 2rem;
        letter-spacing: 0.05rem;
    }
}

@media (max-width: 600px) {
    .container-footer {
        margin-left: 10rem;
    }
}

@media (max-width: 400px){
    .container-footer {
        margin-left: 13rem;
    }

    .container-footer img{
        height: 24rem;
        width: 24rem;
    }

    .container-footer p{
        text-align: center;
        font-size: 2.1rem;
    }

    .Menu_Item-Sobremi a{
        font-weight: 600;
        font-size: 2.1rem;
    }

    .Menu_Item-a {
        margin-left: 2rem;
    }
}
</style>
