---
const {color} = Astro.props
---

<footer>
    <div class="container-footer">
        <a href="/">
            <img src="Logo.svg" alt="logo">
        </a>
        <p>Desarrollado con 💙</p>
        <nav>
                <ul class="MenuFooter">
                    <li class="Menu_Item-Sobremi">
                        <a class="Menu_Item-a"href="#sobre-mi">
                            Sobre mi
                        </a>
                    </li>
                    <li>
                        <a class="Menu-Item_contacto"
                        href="mailto:ferneynava@gmail.com">
                            Contáctame
                        </a>
                    </li>
                </ul>
        </nav>
    </div>
</footer>

<style define:vars={{color}}> 

.container-footer {
    position: relative;
    padding: 3rem 30px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer p {
    font-weight: 600;
    font-size:inherit;
    color: #fff;
    margin: 0;
}

.MenuFooter {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

li {
    letter-spacing: 0.05rem;
}

.Menu_Item-Sobremi a{
    font-weight: 600;
    font-size: inherit;
    color: #FAFAFA;
    text-decoration: none;
    position: relative;
    transition: all 0.8s ease;
}

.Menu_Item-a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.8s ease-out;    
}

.Menu_Item-a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Menu-Item_contacto{
    display: inline-flex;
    font-weight: 600;
    font-size: inherit;
    background: #171F26;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 3rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    transition-property: box-shadow;
    transition: all 0.8s ease;
}

.Menu-Item_contacto:hover{
    background:  #1aaaff;
}

@media screen and (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        margin: 0px 15rem;
        align-items: center;
    }
    .MenuFooter {
        margin-top: 2rem;
        text-align: center;
        justify-content: center;
    }
    .Menu_Item-Sobremi {
        margin-bottom: 1rem;
    }
    
}
</style>
