---
const {color} = Astro.props
---

<header>
    <div class="Header">
        <a href="/">
            <img class="Logo" src="Logo.svg" alt="FerneyDev">
        </a>
        
        <a class="Menu-Movil" href="#" >
            <img src="Menu.svg" alt="Menu">
        </a>

        <nav class="Menu-container">
            <ul class="Menu">
                <li class="Menu_Item">
                    <a class="Menu-Item_a click" href="#sobre-mi">Sobre mi</a>
                </li>
                <li class="Menu_Item Menu_Item-media">
                    <a class="Menu-Item_a" href="#portafolio">Portafolio</a>
                </li>
                <li>
                    <a class="Menu-Item_Button" href="mailto:ferneynava@gmail.com">
                        Contáctame
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="MenuActive inactive">
        <div class="Menu-iphone">
            <a class="Menu-iphon_cerrar" href="#">
                <svg stroke="currentColor" fill="#FAFAFA" stroke-width="0" viewBox="0 0 1024 1024" height="2.3rem" width="2.3rem" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
            </a>
            
            <nav>
                <ul class="Menu_iphone-ul">
                    <li>
                        <b>MENÚ</b>
                    </li>
                    <li>
                        <a class="Menu_iphone-a sobreMi" href="#sobre-mi"> 
                            Sobre mi
                        </a>
                    </li>
                    <li> 
                        <a class="Menu_iphone-a Portafolio" href="#portafolio">
                            Portafolio
                        </a>
                    </li>
                    <li>
                        <a class="Menu-Item_Button" href="mailto:ferneynava@gmail.com">
                            Contáctame
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style define:vars={{color}}>
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 10px;
        z-index: 1000;
    }

    .Header {
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .Menu-Movil{
        display: none;
    }

    .Menu { 
        display: flex;
        gap: 2rem;
        list-style: none;   
        align-items: center;
    }

    li{
        letter-spacing: 0.05rem;
    }

    .Menu_Item a{
        font-weight: 600;
        font-size: inherit;
        color: white;
        text-decoration: none;
        position: relative;
    }

    .Menu_Item a{
        font-weight: 600;
        font-size: inherit;
        color: white;
        text-decoration: none;
        position: relative;
        transition: all 20s ease;
    }

    
    .Menu_Item a:hover{
        color: #087EC4;
    }
    
    .Menu-Item_a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #087EC4;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    }

    .Menu-Item_a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .Menu-Item_Button{
        display: inline-flex;
        font-weight: 600;
        font-size: inherit;
        background: #171F26;
        padding: 0.5rem 2rem;
        font-size: inherit;
        color: white;
        text-decoration: none;
        border-radius: 3rem;
        letter-spacing: 0.05rem;
        transition: all 0.8s ease;
    }

    .Menu-Item_Button:hover{
        background:  #087EC4;
    }

    .inactive {
        display: none;
    }

    .Menu-iphone{
        background-color: #0C151D;
        align-items: center;
        inset: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        border-radius: 0rem  0rem 0rem 50.5rem;
    }

    .Menu-iphone svg{
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 3rem;
        width: 3rem;
    }

    .Menu_iphone-ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    b{
        color: white;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        text-decoration: underline;
    }

    .Menu_iphone-a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        text-decoration: underline;
        text-decoration-color: #087EC4;
    }


    @media  screen and (max-width: 768px){
        .Menu-container{
            display: none;
        }
        
        .Menu-Movil{
            display: block;
        }

        .Logo{
            height: 15rem;
            width: 15rem;
        }

        .Menu-Movil img{
            height: 3rem;
            width: 3rem;
        }

        .Header{
            padding: 0px 33px;
        }

        .Menu-Item_Button{
            font-weight: 600;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }


</style>

<script type="module">
    const $menu = document.querySelector(".Menu-Movil");
    const $menuActive = document.querySelector(".MenuActive");
    const $menuCerrar = document.querySelector(".Menu-iphon_cerrar");
    const $sobreMi = document.querySelector(".sobreMi");
    const $portafolio = document.querySelector(".Portafolio");

    $menu.addEventListener("click", activeMenu)
    $menuCerrar.addEventListener("click", inactiveMenu)
    $sobreMi.addEventListener("click", inactiveMenu)
    $portafolio.addEventListener("click", inactiveMenu)

    function activeMenu(){
        let inactiveMenu = $menuActive.classList.contains("inactive");
        if(inactiveMenu){
            $menuActive.classList.remove("inactive");
        }
    }

    function inactiveMenu(){
        let inactiveMenu = $menuActive.classList.contains("inactive");
        if(!inactiveMenu){
            $menuActive.classList.add("inactive");
        }
    }

</script>