---
const {id, color} = Astro.props
---

<section id={id} class="Portafolio">
    <div class="container">
        <h2>
            Portafolio
        </h2>
        <div class="container-Portafolio">
            <div class="container-Portafolio_Tajeta">   
                <img src="/public/Proyectos/Tesla.jpg" alt="">
                <div class="container-Portafolio_Descripcion">
                    <h3>Clon de Tesla</h3>
                    <nav>
                        <ul>
                            <li>
                                <img src="/public/Logo/HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="/public/Logo/CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="/public/Logo/JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<style define:vars={{color}}>
    section {
        height: 100vh;
		display: flex;
		align-items: center;
    }

    .container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
        align-items: center;
		gap: 4.375rem;
	}

    h2 {
        color: var(--color);
        font-size: 5rem;
		font-weight: 700;
		line-height: 6.3125rem;
		margin: 0;
    }
	
    .container-Portafolio {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 3.125rem;
        align-self: stretch;
    }

    .container-Portafolio_Tajeta{
        width: 31.8125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1875rem;
        padding-bottom: 2.5rem;
        border-radius: 3.125rem;
        background-color: #212529;
    }

    .container-Portafolio_Tajeta img {
        height: 20.375rem;
        border-radius: 3.125rem 3.125rem 0rem 0rem;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
    }

    .container-Portafolio_Descripcion {
        display: flex;  
        padding: 0rem 2rem;
        flex-direction: column;
        align-items: flex-start
        gap: 1.18755rem;
        align-self: stretch;
    }	

    .container-Portafolio_Descripcion h3 {
        color: var(--color);
        font-size: 1.5em;
        font-weight: 900;
        line-height: 3.125rem;
        margin: 0;
        border-bottom: 1px solid #6C757D;
    }	

    /* .container {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, minmax(500px, 1fr));
		align-items: center;
		gap: 4.375rem;
        background-color: var(--color);
	} */
</style>