---
const {id, color} = Astro.props
---

<section id={id} class="Portafolio">
    <div class="container-Primary">
        <h2>
            Portafolio.
        </h2>
        <div class="container-Portafolio">
            <div class="container-Portafolio_Tajeta">   
                <img class="container-Portafolio_img" src="Informes finales.webp" alt="Proyectoimg">
                <div class="container-Portafolio_Descripcion">
                    <h3>Informes finales periodos académicos MauxiChia</h3>
                    <nav>
                        <ul class="menu-tecnologias">
                            <li>
                                <img src="HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <img src="Google_Apps_Script.png" alt="Google Apps Script">
                                <p>Google Apps Script</p>
                            </li>
                        </ul>
                    </nav>
                    <p class="container-Portafolio_p">
                        Página web como herramienta de ayuda para los docentes del Colegio María Auxiliadora. Gracias a ella, los profesores pueden enviar y entregar informes finales de los periodos académicos de manera más rápida, sencilla y automatizada.
                    </p>
                </div>
                <div class= "container-Portafolio_Button">
                    <a href="https://github.com/ferneynava/Calculadora-Informes-Finales.git" target="_blank" rel="noopener">
                        Código
                        <img src="external-link.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="container-Portafolio_Tajeta">   
                <img class="container-Portafolio_img" src="SpaceX.webp" alt="Proyectoimg">
                <div class="container-Portafolio_Descripcion">
                    <h3>Clon de SpaceX</h3>
                    <nav>
                        <ul class="menu-tecnologias">
                            <li>
                                <img src="HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <img src="astro_dark.svg" alt="Astro">
                                <p>Astro</p>
                            </li>
                            <li>
                                <img src="tailwindcss.svg" alt="Tailwind">
                                <p>Tailwind</p>
                            </li>
                        </ul>
                    </nav>
                    <p class="container-Portafolio_p">
                        Proyecto enfocado en la página de SpaceX, en el cual realicé una réplica de la landing page de SpaceX. 
                    </p>
                </div>
                <div class= "container-Portafolio_Button">
                    <a href="https://6495d559219e325c1bda5a02--teal-banoffee-37297d.netlify.app/" target="_blank" rel="noopener">
                        Demo
                        <img src="external-link.svg" alt="">
                    </a>
                    <a href="https://github.com/ferneynava/SpaceX-landing.git" target="_blank" rel="noopener">
                        Código
                        <img src="external-link.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="container-Portafolio_Tajeta">   
                <img class="container-Portafolio_img" src="Tesla.webp" alt="Proyectoimg">
                <div class="container-Portafolio_Descripcion">
                    <h3>Clon de Tesla</h3>
                    <nav>
                        <ul class="menu-tecnologias">
                            <li>
                                <img src="HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <img src="astro_dark.svg" alt="Astro">
                                <p>Astro</p>
                            </li>
                            <li>
                                <img src="tailwindcss.svg" alt="Tailwind">
                                <p>Tailwind</p>
                            </li>
                        </ul>
                    </nav>
                    <p class="container-Portafolio_p">
                        Proyecto enfocado en la página de Tesla, en el cual realicé una réplica de la landing page de Tesla.
                    </p>
                </div>
                <div class= "container-Portafolio_Button">
                    <a href="https://quiet-meerkat-5973d6.netlify.app/" target="_blank" rel="noopener">
                        Demo
                        <img src="external-link.svg" alt="">
                    </a>
                    <a href="https://github.com/ferneynava/clon-landing-tesla.git" target="_blank" rel="noopener">
                        Código
                        <img src="external-link.svg" alt="">
                    </a>
                </div>
            </div>
            
            <div class="container-Portafolio_Tajeta">   
                <img class="container-Portafolio_img" src="Clon de Minecraft.webp" alt="Proyectoimg">
                <div class="container-Portafolio_Descripcion">
                    <h3>Clon de Minecraft v1.0</h3>
                    <nav>
                        <ul class="menu-tecnologias">
                            <li>
                                <img src="HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <img src="react.svg" alt="React">
                                <p>React</p>
                            </li>
                            <li>
                                <img src="Threejs-logo.svg" alt="Three.js">
                                <p>Three.js</p>
                            </li>
                        </ul>
                    </nav>
                    <p class="container-Portafolio_p">
                        Clon de Minecraft. Puedes moverte en el espacio 3D con una perspectiva de primera persona y crear bloques.
                    </p>
                </div>
                <div class= "container-Portafolio_Button">
                    <a href="https://clon-minecraft.netlify.app/" target="_blank" rel="noopener">
                        Demo
                        <img src="external-link.svg" alt="">
                    </a>
                    <a href="https://github.com/ferneynava/Clon-Minecraft" target="_blank" rel="noopener">
                        Código
                        <img src="external-link.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="container-Portafolio_Tajeta">   
                <img class="container-Portafolio_img" src="Secciondeintroducción.webp" alt="Proyectoimg">
                <div class="container-Portafolio_Descripcion">
                    <h3>Sección de introducción</h3>
                    <nav>
                        <ul class="menu-tecnologias">
                            <li>
                                <img src="HTML.svg" alt="HTML">
                                <p>HTML</p>
                            </li>
                            <li>
                                <img src="CSS.svg" alt="CSS">
                                <p>CSS</p>
                            </li>
                            <li>
                                <img src="JavaScript.svg" alt="JavaScript">
                                <p>JavaScript</p>
                            </li>
                        </ul>
                    </nav>
                    <p class="container-Portafolio_p">
                        Desafío de Frontend Mentor. Sección de introducción con navegación desplegable.
                    </p>
                </div>
                <div class= "container-Portafolio_Button">
                    <a href="https://ferneynava.github.io/Intro-section-with-dropdown-navigation-main/" target="_blank" rel="noopener">
                        Demo
                        <img src="external-link.svg" alt="">
                    </a>
                    <a href="https://github.com/ferneynava/Intro-section-with-dropdown-navigation-main.git" target="_blank" rel="noopener">
                        Código
                        <img src="external-link.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>    

<style define:vars={{color}}>

    .Portafolio{
        padding-block: 3rem;
		position: relative;
    }

    .container-Primary{
		max-width: 1200px;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		gap: 9px;
        margin: 0px auto;
	}

    .container-Primary h2 {
        color:#1aaaff;
        font-size: 5rem;
		font-weight: 700;
		line-height: 6.3125rem;
		margin: 0;
        padding: 0px 33px;
    }
	
    .container-Portafolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        row-gap: 4rem;
        align-self: stretch;
        align-items: center;
    }

    .container-Portafolio_Tajeta{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        padding: 0px 33px;
    }

    .container-Portafolio_img {
        border-radius: 12px 12px 0rem 0rem;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
        object-fit: cover;
    }

    .container-Portafolio_Descripcion {
        display: flex;  
        padding: 0rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        align-self: stretch;
        background-color: #171F26;
    }	

    .container-Portafolio_Descripcion h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid #6C757D;
        width: 100%;
        letter-spacing: 0.05rem;
    }	

    .menu-tecnologias {
        display: flex;
        gap: 2rem;
        list-style: none;
        letter-spacing: 0.05rem;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 1rem 0;
		width: 100%;
    }

    .menu-tecnologias li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .menu-tecnologias p{
        color: white;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
        margin: 0;
    }

    .menu-tecnologias img{
        width: 20px;
        height: 20px;
        object-fit: scale-down;
    }

    .container-Portafolio_p{
        color: white;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
        margin: 0;
        padding: 1rem 0;
		border-top: 1px solid #6C757D;
    }

    .container-Portafolio_Button{
        display: flex;
        justify-content: space-around;
        list-style: none;
        letter-spacing: 0.05rem;    
        padding: 1rem 0;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        border-top: 1px solid #6C757D;
        width: 100%;
        background-color: #171F26;
        border-radius: 0rem 0rem 12px 12px;
        
    }

    .container-Portafolio_Button a{
        display: flex;
        align-items: center;
        gap: 0.4375rem;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.7rem;
        margin: 0;
        padding: 0.5rem 1rem;
        border-radius:  3.125rem;
        text-decoration: none;
        background: #1aaaff;
    }

    .container-Portafolio_Button a{
        box-shadow: 0 0 10px #1aaaff;
        transition: all 0.8s ease;
    }

    .container-Portafolio_Button a:hover{
        box-shadow: 0 0 4px #1aaaff,
                0 0 10px #1aaaff,
                0 0 10px #1aaaff,
                0 0 10px #1aaaff;
    }


</style>