---
const {id, color} = Astro.props
---

<section id={id} class="Sobremi">
    <div class="container-Sobremi">
		<div class="containerRight">
			<h2>Sobre mi</h2>
			<nav>
				<ul  class="menu-sobremi">
					<li>
						<a id="perfil" class="menu-sobremi_perfil" href="#sobre-mi">Perfil</a>
					</li>
					<li>
						<a class="estudios " href="#sobre-mi">Estudios</a>
					</li>
					<li>
						<a class="Skills" href="#sobre-mi">Skills</a>
					</li>
				</ul>
			</nav>
			<div class = "containerRight-Perfil">
				<p>
					<span id="resaltador">Licenciado en electrónica y desarrollador de Software </span> con una sólida formación en el ámbito tecnológico, <strong>he cultivado habilidades significativas y experiencias a través de proyectos personales y profesionales innovadores.</strong> Estos proyectos no solo demuestran mi capacidad para aplicar conocimientos técnicos en un entorno práctico, sino también mi compromiso con la mejora continua. 
				</p>
				<p>
					<strong>Mi trayectoria no se limita únicamente al desarrollo de software; también he desempeñado un papel fundamental en el ámbito educativo</strong>. Como educador, he compartido mis conocimientos en tecnología, informática, matemáticas y disciplinas relacionadas, contribuyendo al crecimiento académico de mis estudiantes.
				</p>
				<p> 
					Esta combinación de habilidades técnicas y experiencia educativa me ha permitido destacarme en la intersección entre la teoría y la aplicación práctica. Si deseas saber más sobre mí, no dudes en contactarme.
				</p>
			</div>
			<div class = "containerRight-Estudios inactive">
				<nav>
					<ul class="listado-estudios">
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/7998-figma-tecnicas-avanzadas/diploma/detalle/" target="_blank">Curso de Figma: Técnicas Avanzadas de Diseño
								</a>
								<small>
									- Platzi
								</small>
							</p>
							
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/4038-figma-basico/diploma/detalle/" target="_blank">
									Curso de Figma: Prototipado e Interfaces
								</a>
								<small>
									- Platzi
								</small>
							</p>
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
									Full Stack Developer con JavaScript
								<small>
									- Platzi
								</small>
							</p>
							
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/2477-frontend-developer-practico/diploma/detalle/" target="_blank">
									Curso práctico de Frontend Developer
								</a>
								<small>
									- Platzi
								</small>
							</p>
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/2467-frontend-developer/diploma/detalle/" target="_blank">
									Curso de Frontend Developer
								</a>
								<small>
									- Platzi
								</small>
							</p>
	
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/1557-git-github/diploma/detalle/" target="_blank">
									Curso profesional de Git y GitHub
								</a>
								<small>
									- Platzi
								</small>
							</p>
							
						</li>
						<li>
							<img src="Platzi.png" alt="Platzi">
							<p>
								<a href="https://platzi.com/p/ferneynava/curso/2292-terminal/diploma/detalle/" target="_blank">
									Curso de Introducción a la Terminal y Línea de Comandos
								</a>
								<small>
									- Platzi
								</small>
							</p>
						</li>
						<li>
							<img src="upn.png" alt="UPN">
							<p>
								Licenciatura en Electrónica
								<small>
									- Universidad Pedagógica Nacional
								</small>
							</p>
						</li>
					</ul>
				</nav>
				
			</div>

			<div class = "containerRight-Skills inactive">
				<article class="containerRight-Skills_hover">
					<h2>JavaScript</h2>
					<img src="JavaScript.svg" alt="JavaScript">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>HTML</h2>
					<img src="HTML.svg" alt="HTML">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>CSS</h2>
					<img src="CSS.svg" alt="CSS">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Figma</h2>
					<img src="Figma.svg" alt="Figma">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Sass</h2>
					<img src="sass.svg" alt="sass">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Git</h2>
					<img src="git.svg" alt="git">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>GitHub</h2>
					<img src="GitHub.svg" alt="GitHub">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Astro</h2>
					<img src="astro_dark.svg" alt="astro">
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Arduino</h2>
					<img src="Arduino_Logo.svg" alt="Arduino">	
				</article>
				<article class="containerRight-Skills_hover">
					<h2>Unity</h2>
					<img src="unity_dark.svg" alt="unity">
				</article>
			</div>
			<div class = "containerRight-buttom">
				<a href="mailto:ferneynava@gmail.com">
					<img src="Correo.svg" alt="">
					Contáctame
				</a>
				<a href="CV Ferney Nava.pdf" target="_blank">
					<img src="file-download.svg" alt="">
					Descargar CV
				</a>
			</div>
		</div>
		<div class="containerLeft">
			<img src="FotoSobremi.webp" alt="Ferney Nava">
		</div>
		
    </div>
</section>

<style define:vars={{color}}>
	.Sobremi{	
		padding-block: 3rem;
		position: relative;
	}

    .container-Sobremi {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		align-items: center;
		gap: 1rem;
		max-width: 1200px;
		margin: 0px auto;
	}
	
	.containerLeft {
		display: flex;
		justify-content: center;
		padding: 0px 33px;
	}

	.containerLeft img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.containerRight {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 1.875rem;
	}

	.containerRight h2{
		color: #1aaaff;
		font-size: 5rem;
		font-weight: 700;
		line-height: 6.3125rem;
		margin: 0;
		padding: 0px 33px;
	}

	.menu-sobremi{
		display: flex;
		list-style: none;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0px 33px;
		margin: 0
		transition: all 0.8s ease;
	}

	.estudios{
		letter-spacing: 0.05rem;
		font-weight: 600;
		font-size: 1.25rem;
		color: white;
		text-decoration: none;
		padding: 0.5rem 2rem;
		background: #171F26;
		border-radius: 3rem;
		transition: all 0.8s ease;
	}

	.Skills {
		letter-spacing: 0.05rem;
		font-weight: 600;
		font-size: 1.25rem;
		color: white;
		text-decoration: none;
		padding: 0.5rem 2rem;
		background: #171F26;
		border-radius: 3rem;
		transition: all 0.8s ease;
	}

	.menu-sobremi_perfil{
		padding: 0.5rem 2rem;
		background: #171F26;
		border-radius: 3rem;
		letter-spacing: 0.05rem;
		font-weight: 600;
		font-size: 1.25rem;
		color: white;
		text-decoration: none;
		transition: all 0.8s ease;
	}

	.menu-sobremi a:hover{
		color: white;
		padding: 0.5rem 2rem;
		background: #1aaaff;
		border-radius: 3rem;
		transition: all 0.8s ease;
    }

	.containerRight-Perfil{
		color: white;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.7rem;
		padding: 0px 33px;
	}

	strong{
		color: #1aaaff;
	}	

	#resaltador{
		font-weight: bold;
	}

	.containerRight-buttom{
		display: flex;
		gap: 1rem;
		list-style: none;
		letter-spacing: 0.05rem;
		align-items: center;
		justify-content: center;
		padding: 0px 33px;
	}

	.containerRight-buttom a{
		display: flex;
		padding: 0.5rem 1rem;
		color: white;
		font-size: 1rem;
		line-height: 1.5rem;
		text-decoration: none;
		border-radius:  3.125rem;
		background:  #171F26;
		align-items: center;
		gap: 0.4375rem;
		transition: all 0.8s ease;
	}

	.containerRight-buttom a:hover{
		background:  #1aaaff;
	}

	.inactive {
		display: none;
	}

	.listado-estudios {
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 1rem;
		padding: 0px 33px;
		margin-top: 10px;
		color: white;
	}

	.listado-estudios p{
		margin: 0;
	}

	.listado-estudios li{
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.listado-estudios img{
		width: 1.5rem;
		height: auto;
		object-fit: contain;
	}

	.listado-estudios a{
		color: white;
		text-decoration: none;
		line-height: 1.7rem;
		transition: all 0.8s ease;
	}

	.listado-estudios a:hover{
		color: #1aaaff;
		text-decoration: underline;
	}


	.listado-estudios small{
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.7rem;
	}

	.containerRight-Skills{
		height: auto;
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 2rem;
		padding: 0px 33px;
		margin: 1rem 0;
		transition: all 0.8s ease;
	}

	article{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.3125rem;
		align-items: center;
		gap: 0.5rem;
		background-color: #171F26;
		border-radius: 0.625rem;
	}

	.containerRight-Skills h2{
		font-size: 1rem;
		line-height: 1.7rem;
		font-weight: 700;
		color: white;
	}

	.containerRight-Skills img {
		width: 3.125rem;
		height: 3.125rem;
		object-fit: contain;
	}

	.containerRight-Skills_hover{
		transition: all 0.8s ease;
	}

	.containerRight-Skills_hover:hover{
		transition: all 0.8s ease;
		box-shadow: 0 0 4px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255);
		
	}

</style>

<script type="module">
	import {annotate} from "https://unpkg.com/rough-notation?module";
	
	const $perfil = document.getElementById("perfil");
	const $perfilButton = document.querySelector(".menu-sobremi_perfil");
	const $containerPerfil = document.querySelector(".containerRight-Perfil");
	const $estudios = document.querySelector(".estudios");
	const $containerEstudios = document.querySelector(".containerRight-Estudios");
	const $Skills = document.querySelector(".Skills");
	const $containerSkills = document.querySelector(".containerRight-Skills");
	const $clickSobremi  = document.querySelector(".click");
	const $subrayado = document.querySelector("#resaltador");
	const $containerSkillsHover = document.querySelectorAll(".containerRight-Skills_hover");
	const $menuSobremi = document.querySelector(".menu-sobremi a")
	$perfilButton.style.border = "2px solid #1aaaff";

	$clickSobremi.addEventListener("click", subrayado);
	const observerOption = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5,
    }

	const obserserver = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
			if(entry.isIntersecting){
				subrayado();
			}
		})
	}, observerOption)

	const $sobremi = document.querySelector(".Sobremi");
	obserserver.observe($sobremi);

	$perfil.addEventListener("click", function (){
		$menuSobremi.classList.add("click");
		$estudios.classList.remove("click");
		$Skills.classList.remove("click");
		$containerPerfil.classList.remove("inactive");
		$containerEstudios.classList.add("inactive");
		$containerSkills.classList.add("inactive");
		$containerSkills.style.display = "none";
		$Skills.style.border = "";
		$estudios.style.border = "";
		$perfilButton.style.border = "1px solid #1aaaff";
		subrayado()
	})

	$estudios.addEventListener("click", function (){
		$estudios.classList.add("click");
		$menuSobremi.classList.remove("click");
		$Skills.classList.remove("click");
		$containerPerfil.classList.add("inactive");
		$containerEstudios.classList.remove("inactive");
		$containerSkills.classList.add("inactive");
		$containerSkills.style.display = "none";
		$perfilButton.style.border = "";
		$Skills.style.border = "";
		$estudios.style.border = "1px solid #1aaaff";
	})

	$Skills.addEventListener("click", function (){
		$Skills.classList.add("click");
		$menuSobremi.classList.remove("click");
		$estudios.classList.remove("click");
		$containerPerfil.classList.add("inactive");
		$containerEstudios.classList.add("inactive");
		$containerSkills.classList.remove("inactive");
		$containerSkills.style.display = "grid";
		$perfilButton.style.border = "";
		$estudios.style.border = "";
		$Skills.style.border = "1px solid #1aaaff";

	})


	$containerSkillsHover.forEach(Element => {
		const $imagen = Element.querySelectorAll("img");

		Element.addEventListener("mouseover", function (){
			$imagen.forEach(img => {
				img.style.transition = "all 0.8s ease";
				img.style.transform = "scale(1.2)";
			})
		})
		Element.addEventListener("mouseout", function (){
			$imagen.forEach(img => {
				img.style.transition = "all 0.8s ease";
				img.style.transform = "scale(1)";
		});
	})
})

	function subrayado(){
		let subrayado = annotate($subrayado, { type: 'underline', color: "#1aaaff", strokeWidth: 3 ,padding: 2});
		subrayado.show();
		setTimeout(() => {
			subrayado.remove();
		}, 8000);
	}

</script>

