---
const {id, color} = Astro.props
---

<section id={id} class="Sobremi">
    <div class="container">
		<div class="containerLeft">
			<img src="FotoSobremi.webp" alt="Ferney Nava">
		</div>
		<div class="containerRight">
			<h2>Sobre mi.</h2>
			<nav>
				<ul  class="menu-sobremi">
					<li>
						<a id="perfil" class="menu-sobremi_perfil" href="#sobre-mi">Perfil</a>
					</li>
					<li>
						<a class="hover estudios " href="#sobre-mi">Estudios</a>
					</li>
					<li>
						<a class="hover Skills" href="#sobre-mi">Skills</a>
					</li>
				</ul>
			</nav>
			<div class = "containerRight-Perfil">
				<p>
					<span id="resaltador">Licenciado en electrónica y desarrollador de Software </span> con habilidades en Front-End, una amplia experiencia en los campos de la educación y la industria tecnológica desarrollando proyectos personales.
					Además de mi rol como profesional en desarrollo de software, también me he desempeñado como educador en tecnología, informática, matemáticas y áreas afines. 
				</p>
				<p>
					Me gusta estar en constante aprendizaje, creo que siempre hay algo nuevo que aprender.
				</p>
			</div>
			<div class = "containerRight-Estudios inactive">
				<ul class="listado-estudios">
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/7998-figma-tecnicas-avanzadas/diploma/detalle/" target="_blank">Curso de Figma: Técnicas Avanzadas de Diseño
							</a>
							<small>
								- Platzi
							</small>
						</p>
						
					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/4038-figma-basico/diploma/detalle/" target="_blank">
								Curso de Figma: Prototipado e Interfaces
							</a>
							<small>
								- Platzi
							</small>
						</p>
					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
								Full Stack Developer con JavaScript
							<small>
								- Platzi
							</small>
						</p>
						
					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/2477-frontend-developer-practico/diploma/detalle/" target="_blank">
								Curso practico de Frontend Developer
							</a>
							<small>
								- Platzi
							</small>
						</p>
					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/2467-frontend-developer/diploma/detalle/" target="_blank">
								Curso de Frontend Developer
							</a>
							<small>
								- Platzi
							</small>
						</p>

					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/1557-git-github/diploma/detalle/" target="_blank">
								Curso profesional de Git y GitHub
							</a>
							<small>
								- Platzi
							</small>
						</p>
						
					</li>
					<li>
						<img src="Platzi.png" alt="Platzi">
						<p>
							<a href="https://platzi.com/p/ferneynava/curso/2292-terminal/diploma/detalle/" target="_blank">
								Curso de Introducción a la Terminal y Línea de Comandos
							</a>
							<small>
								- Platzi
							</small>
						</p>
					</li>
					<li>
						<img src="upn.png" alt="UPN">
						<p>
							Licenciatura en Electrónica
							<small>
								- Universidad Pedaógica Nacional
							</small>
						</p>
					</li>
				</ul>
			</div>
			<div class = "containerRight-buttom">
				<a href="mailto:ferneynava@gmail.com">
					<img src="/Correo.svg" alt="">
					Contáctame
				</a>
				<a href="/public/CV Ferney Nava.pdf" target="_blank">
					<img src="/file-download.svg" alt="">
					Descargar CV
				</a>
			</div>
		</div>
    </div>
</section>

<style define:vars={{color}}>
    section {
        height: 100vh;
		display: flex;
		align-items: center;
    }

    .container {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, minmax(500px, 1fr));
		align-items: center;
		gap: 4.375rem;
	}
	
	.containerLeft {
		display: flex;
		justify-content: center;
	}

	.containerLeft img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.containerRight {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 1.875rem;
	}

	.containerRight h2{
		color: var(--color);
		font-size: 5rem;
		font-weight: 700;
		line-height: 6.3125rem;
		margin: 0;
	}

	.menu-sobremi{
		display: flex;
		list-style: none;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 0;
		margin: 0
		
	}

	.menu-sobremi a{
		letter-spacing: 0.05rem;
		font-weight: 600;
		font-size: 1.25rem;
		color: white;
		text-decoration: none;
		padding: 0.5rem 2rem;
	}

	.menu-sobremi_perfil{
		padding: 0.5rem 2rem;
		background: #00A6FB;
		border-radius: 3rem;
		transition: 0.5s;
        transition-property: box-shadow;
		box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
	}

	.menu-sobremi a:hover{
        color: white;
		padding: 0.5rem 2rem;
		background: #00A6FB;
		border-radius: 3rem;
		transition: 0.5s;
        transition-property: box-shadow;
		box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
    }

	.containerRight-Perfil{
		color: white;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.7rem;
	}

	#resaltador{
		font-weight: bold;
	}

	.containerRight-buttom{
		display: flex;
		gap: 1rem;
		list-style: none;
		letter-spacing: 0.05rem;
		padding: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.containerRight-buttom a{
		display: flex;
		padding: 0.5rem 1rem;
		color: white;
		font-size: 1rem;
		line-height: 1.5rem;
		text-decoration: none;
		border-radius:  3.125rem;
		background:  var(--color);
		align-items: center;
		gap: 0.4375rem;
	}

	.containerRight-buttom a {
		box-shadow: 0 0 25px rgb(0,140,255);
	}

	.containerRight-buttom a:hover{
		box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
	}


	.inactive {
		display: none;
	}

	.listado-estudios {

		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 1rem;
		padding: 0;
		margin-top: 10px;
		color: white;
	}

	.listado-estudios p{
		margin: 0;
	}

	.listado-estudios li{
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.listado-estudios img{
		width: 1.5rem;
		height: auto;
		object-fit: contain;
	}

	.listado-estudios a{
		color: white;
		text-decoration: none;
		line-height: 1.7rem;
	}

	.listado-estudios a:hover{
		color: var(--color);
		text-decoration: underline;
	}


	.listado-estudios small{
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.7rem;
	}

</style>

<script type="module">
	import {annotate} from "https://unpkg.com/rough-notation?module";
	
	const $hover  = document.querySelectorAll(".hover");
	const $perfil = document.getElementById("perfil");
	const $containerPerfil = document.querySelector(".containerRight-Perfil");
	const $estudios = document.querySelector(".estudios");
	const $containerEstudios = document.querySelector(".containerRight-Estudios")
	const $clickSobremi  = document.querySelector(".click");
	const $subrayado = document.querySelector('#resaltador');
	$clickSobremi.addEventListener("click", subrayado);

	$perfil.addEventListener("click", function (){
		$containerPerfil.classList.remove("inactive");
		$containerEstudios.classList.add("inactive");
		subrayado()
	})

	$estudios.addEventListener("click", function (){
		$containerPerfil.classList.add("inactive");
		$containerEstudios.classList.remove("inactive");
	})

	$hover.forEach(Element => {
		Element.addEventListener("mouseover", function (){
			$perfil.classList.remove("menu-sobremi_perfil");
		})
	})

	const observerOption = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5,
    }

	const obserserver = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
			if(entry.isIntersecting){
				subrayado();
			}
		})
	}, observerOption)

	const $sobremi = document.querySelector(".Sobremi");
	obserserver.observe($sobremi);

	function subrayado(){
		let subrayado = annotate($subrayado, { type: 'underline', color: "#00A6FB", strokeWidth: 3 ,padding: 2});
		subrayado.show();
		setTimeout(() => {
			subrayado.remove();
		}, 8000);
	}

</script>

