---
const {color} = Astro.props
---

<section class="section-principal">
	<div class="container-principal">
		<div class="containerLeft">
			<div class="container-Presentacion">
				<img src="hand.webp" alt="Hola">
				<div class="container-Saludo">
					<p>¡Hola! 
						<span>me llamo,</span>
					</p>
					<h1>Ferney Nava</h1>
				</div>
			</div>
			<h2 class="container-Profesion">
					<span class="typed"></span>
			</h2>
			<nav>
				<ul class="menu-Social">
					<li>
						<a href="https://www.linkedin.com/in/ferney-alexander-nava-trujillo-0478a8118/"  target="_blank" rel="noopener noreferrer">
							<img src="LinkedIn.svg" alt="LinkedIn">
								LinkedIn
						</a>
					</li>
					<li>
						<a href="https://github.com/ferneynava"  target="_blank" rel="noopener noreferrer">
							<img class="Github" src="GitHub.svg" alt="GitHub">
								GitHub
						</a>
					</li>
					<li>
						<a href="mailto:ferneynava@gmail.com" rel="noopener noreferrer">
							<img src="Correo.svg" alt="ferneynava@gmail.com" >
								ferneynava@gmail.com
						</a>
					</li>
			</nav>
		</div>
		<div class="containerRight">
			<img src="FotoFull.webp" alt="Foto FerneynavaDev">
		</div>	
	</div>
</section>

<style define:vars={{color}}>

	.section-principal{
		padding-top: 8rem;
		padding-bottom: 8rem;
		position: relative;
	}
	
	.container-principal {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		align-items: center;
		gap: 1rem;
		max-width: 1200px;
		margin: 0px auto;
	}
	
	.containerLeft{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 0px 33px;
	}	

	.container-Presentacion{
		display: flex;
		padding: 1.75rem;
		justify-content: center;
		background: #171F26;
		border-radius: 16px;
		border: 2px solid white;
		backdrop-filter: blur(20px);
		flex-wrap: wrap;
		gap: 1rem;
	}
	
	.container-Presentacion img{
		width: 6rem;
		height: 6rem;
		object-fit: cover;	
	}

	.container-Saludo p{
		font-size: 2.125rem;
		line-height: 2.563rem;
		font-weight: 500;
		color: white;
		margin: 0;
	}

	.container-Saludo span{
		color: #1aaaff;
	}

	.container-Saludo h1{
		color: #1aaaff;
		font-size: 3.5rem;
		font-weight: 900;
		line-height: 4.875rem;
		margin: 0;
	}

	.container-Profesion{
		color: #1aaaff;
		height: 70px;
		font-size: 2.0625rem;
		font-weight: 900;
		line-height: 2.5;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-Social{
		display: flex;
		gap: 1rem;
		list-style: none;
		letter-spacing: 0.05rem;
		padding: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
	} 

	.menu-Social a{
		display: flex;
		padding: 0.5rem 1rem;
		color: white;
		font-size: 1rem;
		line-height: 1.5;
		text-decoration: none;
		border-radius:  3.125rem;
		background:  #171F26;
		align-items: center;
		gap: 0.4375rem;
		transition: all 0.8s ease;
	}


	.menu-Social a:hover{
		background:  #1aaaff;
	}

	.Github{
		width: 24px;
		height: 24px;
	}

	.containerRight{
		display: flex;
		justify-content: center;
		padding: 0px 33px;
	}

	.containerRight img{
		width: 28rem;
		height: 28rem;
		object-fit: cover;
		border-radius: 80px;
	}

	.container-Flecha{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-grow: 1;

	}

	.container-Flecha_button{	
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		height: 3.3rem;
		width: 3.3rem;
	}


	.container-Flecha_button:hover{
		box-shadow: 0 0 4px #1aaaff,
                0 0 10px #1aaaff,
                0 0 10px #1aaaff,
                0 0 10px #1aaaff;
	}

	.container-Flecha_button img{
		width: 4rem;
		height: 4rem;
	}

	.container-Flecha p{
		color: white;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0.17rem;
	}

</style>

<script>
	import Typed from 'typed.js'; 
	
		const typed = new Typed(".typed" ,{
			strings: ["Licenciado en electrónica","Desarrollador de Software"],
			typeSpeed: 80,
			loop: true,
			backSpeed: 50,
			backDelay: 2900,

		});


</script>